<!-- component -->
<nav class="flex dark:bg-slate-900 relative  bg-white px-5 py-6 w-full">
  <div class="flex flex-col w-full">
    <div class="flex justify-between items-center content-center">
      <div>
        <a [routerLink]="''">
          <img width="70px" height="70px" src="assets/images/icons/White logo - no background.svg"/>
          </a>
      </div>
      <div>
        <input class="text-3xl font-normal text-gray-900 rounded-lg px-2" type="text" placeholder="search"/>
        
      </div>
      <div>
        <p class="text-white"> 
          logo
        </p>
      </div>
  
        
    </div>
  <div  *ngIf="categories">
   <ul class="flex flex-row text-white list-none justify-around">
    <li *ngFor="let category of categories">
    <a (click)="changeCategory(category)" [routerLink]="'product/category/'+category" class="cursor-pointer">
      {{category}}
    </a>  
    </li>
   </ul>
  </div>
  </div>

  </nav>